body{
	background-color: snow;
}

nav{
	width: 100%;
	height: 60px;
	background-color: rgb(38,40,43);
	margin-bottom: 50px;
	color: white;
	padding-top: 5px;
	position: fixed;
	top: 0;
	z-index: 99;
}
nav .title span{
	color: maroon;
}
nav .title{
	text-align:center;
}


.imgBack img{
	width: 100%;
	min-height:300px;
	max-height: 500px;
}
.home{
	margin-top: 80px;
	width: 100%;
}



.home .main_content{
	text-align: center;
  min-height: 650px;
}

.right_content{
	margin:auto;
	margin-top: 0px;
}

.right_content .card{
  min-height: 400px;
  padding-top: 25px;
}



.main_content_individual,.individualPost{
	position: relative;
	width: 80%;
	text-align: left;
	display: block;
	margin:auto;
	margin-top: 30px;
}

.main_content_individual .blogTitle, .individualPost .blogTitle{
	font-weight: bold;
	font-size: 30px;
}

.main_content_individual .blogName,.individualPost .blogName{
	float: left;
	margin-right: 5px;
}

.main_content_individual .blogImg img ,.individualPost .blogImg img {
	max-width: 80%;
	min-height: 200px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.login_signUp{
	width: 80%;
	margin-left: 20px;
}

.instagram-ads{
	margin-left: 5%;
	margin-top: 40px;
	width: 40%;

}

.signUpBack{
	width: 100px;
	margin-left: 40px;
	font-size: 24px;
	margin-top: 90px;
}

.signUp{
	width: 40%;
	margin:auto;
	border:2px double lightgrey;
	padding:30px;
	margin-top: 2%;
	margin-bottom: 120px;
}
@media Screen and (max-width: 800px){
	.signUp{	
		width: 70%;
		margin-top: 10%;
	}
	
	.login_signUp{
		width: 100%;
		margin-bottom: 100px;
		margin-left: 20px;
	}
}

.loginTrue {
  margin-bottom: 100px;
  text-align: center;
}
.loginTrue img{
  width: 80%;
  max-width: 200px;
  min-height: 180px;
  height:auto;
  border-radius: 50%;
  display: block;
  margin:auto;
}
.loginTrue .adminPanel{
  margin-top: 15px;
}
.loginTrue .adminPanel, .loginTrue .logout, .loginTrue .profile{
  border:1px solid cornflowerblue;
  width: 50%;
  display: block;
  margin:auto;
  margin-top: 10px;
}
.loginTrue .logout{
  border:none;
}


/* user admin */
.userAdmin{
	min-height: 600px;
}
.left_content ul{
	list-style-type: none;
	font-size: 18px;
}

.left_content{
  width: 200px;
  min-height: 650px;
	margin-top: 60px;
	padding-top: 50px;
}


/* userProfile */
.userProfile{
  min-height: 500px;
  max-width: 650px;
  margin-top: 120px;
  margin-bottom: 50px;
}
.userProfile img{
  width: 80%;
  max-width: 300px;
  height: auto;
  display: block;
  margin:auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* add New Content */
.addContent{
  margin-top: 100px;
  margin-bottom: 50px;
}

.addContent textarea{
  width: 100%;
  min-height: 300px;
}

/*all content */
.allContent{
  margin-top: 100px;
  overflow-x: auto;
}

.allContent table{
  width: 90%;
  min-height: 500px;
}

.allContent table thead{
  text-align: center;
}

.pagination{
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.individualPost{
  margin-top: 100px;
}



.editDeleteMain{
  margin-top: 100px;
  margin-bottom: 50px;
}





/*comment*/
.comment{
  margin-bottom: 50px;
}
.thumbnail {
    padding:0px;
}
.thumbnail img{
  max-width: 50px;
  border-radius: 50%;
}
.panel {
  position:relative;
  width: 80%;
  border:1px solid lightgrey;
  padding:5px;
}

.panel-heading{
  background-color: #f5f5f5;
}
.panel-editDelete{
  position: absolute;
  right: 0;
  bottom:5px;
  color:lightgrey;
  cursor: pointer;
}
.panel .panel-editDelete button{
height: 20px;
padding:0;
}
.panel .edit:hover, .panel .delete:hover{
  color:grey;
  cursor: pointer;
}

.commentMain{
  margin-bottom: 20px;
}




/* for footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}