{% extends 'base.html' %}

{% block content %}

<div class="addNewContent row">

	<div class="left_content col-4">
		<ul>
			<li> <a href="{% url 'home'%}"> HomePage </a> </li>
			<li> <a href="{% url 'allContent_view'%}">All Content </a></li>
			<li> <a href="{% url 'addNewContent_view'%}"> Add New Content </a></li>
			<li> <a href="{% url 'userProfile_view'%}"> User Profile </a> </li>
			<li> 
				<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width:100px;">Logout </button></form>
				</div>
			</li>
		</ul>
	</div>

	<div class="addContent col-md-5 col">
		<h2> Add New Content </h2>

		<form method="post" action="{% url 'addNewContent_handler' %}" enctype="multipart/form-data">

			{% csrf_token %}

			<div class="form-group">
		     <label for="title">Title</label>
		     <input type="text" class="form-control" id="title" placeholder="title" name="title" required autocomplete="off">
		 	</div>

			<div class="form-group">
			  <label for="image">Image</label>
			  <input type="file" class="form-control" id="image"  placeholder="image" name="image" required autocomplete="off">
			</div>

			<div class="form-group">
			  <label for="content">Content</label>
			  <textarea name="content"></textarea>
			</div>

		  	{% if messages %}
			   {% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger" role="alert"style='margin-bottom: 10px;'>{{ message }}</div>
				   {% else %}
				   <div class="alert alert-success" role="alert" style='margin-bottom: 10px;'>{{ message }}</div>
				   {% endif %}
			   {% endfor %}
			{% endif %}
						
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add content</button>


		</form>

	</div>


</div>

{% endblock %}