{% extends 'base.html' %}

{% block content %}

<div class="userAdmin row">

	<div class="left_content col-5">
		<ul style="float: left;">
			<li> <a href="{% url 'home'%}"> HomePage </a> </li>
			<li> <a href="{% url 'allContent_view'%}">All Content </a></li>
			<li> <a href="{% url 'addNewContent_view'%}"> Add New Content </a></li>
			<li> <a href="{% url 'userProfile_view'%}"> User Profile </a> </li>
			<li> 
				<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width:100px;">Logout </button></form>
				</div>
			</li>
		</ul>
		<div class="vl" style="border-left: 2px solid black;height: 200px;"></div>
	</div>


</div>

{% endblock %}