{% extends 'base.html' %}

{% block content %}

<div class="addNewContent row">

	<div class="left_content col-lg-3 col-4">
		<ul>
			<li> <a href="{% url 'home'%}"> HomePage </a> </li>
			<li> <a href="{% url 'allContent_view'%}">All Content </a></li>
			<li> <a href="{% url 'addNewContent_view'%}"> Add New Content </a></li>
			<li> <a href="{% url 'userProfile_view'%}"> User Profile </a> </li>
			<li> 
				<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width:100px;">Logout </button></form>
				</div>
			</li>
		</ul>
	</div>

	<div class="allContent col">

		<div class="row">
			<h2 class="col-10"> All Content </h2>
			<div class="col" > <a href="{% url 'addNewContent_view'%}"style="font-size: 20px;margin-top: 10px;"><i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="add new content" ></i></a> </div>
		</div>

		{% if messages %}
			{% for message in messages %}
			   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger" role="alert"style='margin-bottom: 10px;'>{{ message }}</div>
			   {% else %}
			   <div class="alert alert-success" role="alert" style='margin-bottom: 10px;'>{{ message }}</div>
			   {% endif %}
		   {% endfor %}
		{% endif %}

		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">Title</th>
		      <th scope="col">Author</th>
		      <th scope="col">Published Date</th>
		      <th scope="col">content</th>
		      <th> Edit/Delete </th>
		    </tr>
		  </thead>
		  <tbody>

		  	{% for post in posts %}
		  		<tr>
			      <th scope="row">{{post.id}}</th>
			      <td> <a href="{% url 'individualPost_view' id=post.id %}"> {{post.title}} </a> </td>
			      <td>{{post.author}}</td>
			      <td>{{post.pub_date}}</td>
			      <td>{{post.content |truncatewords:20}}</td>
			      <td> 
			      	{% if user == post.author %}
			      		<a href="{% url 'editDelete_view' id=post.id %}">Edit/Delete</a>
			      	{% else %}
			      		<span data-toggle="tooltip" data-placement="top" title="Not authorized to update this content">Edit/Delete</span>
			      	{% endif %}
			      </td>
			    </tr>

		  	{% endfor %}
		   
		  </tbody>
		</table>

		<div class="pagination">
			<span class="step-links">
		        {% if posts.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ posts.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		        </span>

		        {% if posts.has_next %}
		            <a href="?page={{ posts.next_page_number }}">next</a>
		            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>


	</div>

</div>



{% endblock %}