<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}myBlog{% endblock %}</title>

	<!-- import bootstrap library -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://kit.fontawesome.com/795e36e422.js" crossorigin="anonymous"></script>
	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'index.css'%}" type='text/css'/>

	

</head>
<body>

	{% block nav %}
	<nav>
		<div class="title">
			<a href="{% url 'home'%}" style="text-decoration: none;color: white;"> <h1> My<span>Blog</span> </h1> </a>
		</div>
	</nav>
	{% endblock %}

	{% block content %}

	{% endblock %}


	{% block footer %}
	  <!-- Site footer -->
	    <footer class="site-footer">

	      <div class="container">

	        <div class="row">
	          <div class="col-sm-12 col-md-6">
	            <h6>About</h6>
	            <p class="text-justify">
	            	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod lacinia at quis risus sed vulputate odio. Sit amet consectetur adipiscing elit.
	            </p>
	          </div>
	        </div>

	        <hr>
	      </div>

	      <div class="container">
	        <div class="row">
	          <div class="col-md-8 col-sm-6 col-xs-12">
	            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved</p>
	          </div>

	          <div class="col-md-4 col-sm-6 col-xs-12">
	            <ul class="social-icons">
	              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
	              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
	              <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
	              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
	            </ul>
	          </div>
	        </div>
	      </div>

	</footer>

	{% endblock %}


</body>
</html>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script type="text/javascript">
	const logout_form = document.getElementById('logout_form')
	logout_form.onsubmit = () =>{
		const x = confirm('Are you sure you want to logout?');

		if(x){
			return true;
		}
		return false;
	}
</script>

<script type="text/javascript">
	const goBack = () => {
		window.history.back();
	}
</script>