{% extends 'base.html' %}


{% block title %}
myBlog
{% endblock %}

{% block content %}


<div class="container">
<!--	
<div class="imgBack">
		{% load static %}
		<img src="{% static 'background2.jpg' %}" />
</div>
-->
	<div class="home row">
		
	
		<div class="main_content col-md-7 col-11">

			{% if messages %}
			   {% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<div class="alert alert-success" role="alert" style='margin-bottom: 10px;'>{{ message }}</div> 
				   {% endif %}
			   {% endfor %}
			{% endif %}

			<h2> Blog Content </h2>


			{% for post in posts%}
			<div class="main_content_individual">
				<div class="blogTitle">
					<a href="{% url 'individualPost_view' id=post.id %}">{{post.title}}</a>
				</div>

				<div class="blogDetails">
					<div class="blogName"> {{post.author}} - </div>
					<div class="blogDate"> {{post.pub_date}}</div>
				</div>

				<div class="blogImg">

					<img src="{{post.image.url}}" />
				</div>

				<div class="blogContent">
					{{post.content|truncatewords:50}}
				</div>

				<hr/>

			</div>
			{% endfor %}
		</div>


		<div class="right_content col-lg-4 col-md-5 col-8 ">
			<br/><br/><br/>
			{% if login %}
				<div class="card loginTrue">
					<div class="card-body">
				    <h5 class="card-title" style='text-align: center;'>{{data.username}}</h5>

				    {% load static %}

					{% if user.profile.profile_pict %}
						<img src="{{user.profile.profile_pict.url}}">
					{% else %}
						<img src="{% static 'defaultPeople.jpg' %}">
					{% endif %}

					<div class="profile"> <a href="{% url 'userProfile_view'%}"> User Profile </a></div>
					
					<div class="adminPanel"> <a href="{%url 'user_admin'%}">Admin Panel </a></div>

					<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width: 100%;">Logout </button></form>
					</div>

					</div>
					

				</div>

			{% else %}
				<div class="card login_signUp" >
				  <div class="card-body">
				    <h5 class="card-title">Login - Sign Up</h5>
				    
				    <form method='post' action="{% url 'login' %}">
				    	{% csrf_token %}
					  <div class="form-group">
					    <label for="username">username</label>
					    <input type="text" class="form-control" id="username"  placeholder="username" autocomplete="off" name="username" required>
					  </div>

					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" name='password' required>
					  </div>

					    {% if messages %}
						   {% for message in messages %}
							   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger" role="alert" style='margin-bottom: 10px;'>{{ message }}</div> 
							   {% endif %}
						   {% endfor %}
						{% endif %}
					  
					  <button type="submit" class="btn btn-primary">log in</button>

					  <div style="color: grey;">
						  <small> don't have an account? sign up in <a href="{%url 'sign up'%}">here</a></small>
					  </div>
					</form>
				    
				  </div>
				</div>
			{% endif %}
		</div>
		

	</div>


	<div class="pagination">
	    <span class="step-links">
	        {% if posts.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
	        </span>

	        {% if posts.has_next %}
	            <a href="?page={{ posts.next_page_number }}">next</a>
	            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>

</div>
{% endblock %}