{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="addNewContent row">

		<div class="back col-md-1 col-1" style="margin-top: 112px;font-size: 20px;">
			<button class="btn btn-outline-dark"onclick="goBack()"> Back </button>
		</div>

		<div class="individualPost col-md-7 col-11">

			<div class="blogTitle">
				<h1>{{post.title}}</h1>
			</div>

			<div class="blogDetails">
				<div class="blogName"> by <i>{{post.author}}</i> - </div>
				<div class="blogDate"> {{post.pub_date}}</div>
			</div>

			<div class="blogShare">
				<button class="btn btn-success"> Share on twitter </button>
				<button class="btn btn-primary"> Share on Facebook </button>
			</div>

			<div class="blogImg">

				<img src="{{post.image.url}}" />
			</div>

			<div class="blogContent">
				{{post.content}}
			</div>

			<hr/>
			
		</div>

		<div class="right_content col-lg-4 col-md-4 col-8" >
			<br/><br/><br/><br/>
			{% if login %}
				<div class="card loginTrue">
					<div class="card-body">
				    <h5 class="card-title" style='text-align: center;'>{{user.username}}</h5>

				    {% load static %}

					{% if user.profile.profile_pict %}
						<img src="{{user.profile.profile_pict.url}}">
					{% else %}
						<img src="{% static 'defaultPeople.jpg' %}">
					{% endif %}

					<div class="profile"> <a href="{% url 'userProfile_view'%}"> User Profile </a></div>
					
					<div class="adminPanel"> <a href="{%url 'user_admin'%}">Admin Panel </a></div>

					<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width: 100%;">Logout </button></form>
					</div>

					</div>
					

				</div>

			{% else %}
				<div class="card login_signUp" >
				  <div class="card-body">
				    <h5 class="card-title">Login - Sign Up</h5>
				    
				    <form method='post' action="{% url 'login' %}">
				    	{% csrf_token %}
					  <div class="form-group">
					    <label for="username">username</label>
					    <input type="text" class="form-control" id="username"  placeholder="username" autocomplete="off" name="username" required>
					  </div>

					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" name='password' required>
					  </div>

					    {% if messages %}
						   {% for message in messages %}
							   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger" role="alert" style='margin-bottom: 10px;'>{{ message }}</div> 
							   {% endif %}
						   {% endfor %}
						{% endif %}
					  
					  <button type="submit" class="btn btn-primary">log in</button>

					  <div style="color: grey;">
						  <small> don't have an account? sign up in <a href="{%url 'sign up'%}">here</a></small>
					  </div>
					</form>
				    
				  </div>
				</div>
			{% endif %}
		</div>

	</div>


	<div class="comment">
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-sm-12">
				<h3>Comments</h3>
			</div>
		</div>

		{% if login %}
		<div class="commentMain row">
			<div class="col-sm-1">
				<div class="thumbnail">

					{% load static %}

					{% if user.profile.profile_pict %}
						<img src="{{user.profile.profile_pict.url}}">
					{% else %}
						<img src="{% static 'defaultPeople.jpg' %}">
					{% endif %}

				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->


			<form class="col-sm-4" method="POST" action="{% url 'addComment_handler' id=post.id%}">
				{% csrf_token %}
				<div class="form-group">
				    <input type="text" class="form-control" id="comment"  placeholder="add new comment" autocomplete="off" name="comment" autofocus>
				</div>
			</form>
		</div>
		{% endif %}

		{% for comment in comments %}
		<div class="commentMain row">
			<div class="col-sm-1">
				<div class="thumbnail">
					{% load static %}

					{% if comment.user.profile.profile_pict %}
						<img src="{{comment.user.profile.profile_pict.url}}">
					{% else %}
						<img src="{% static 'defaultPeople.jpg' %}">
					{% endif %}

				</div><!-- /thumbnail -->
			</div><!-- /col-sm-1 -->

			<div class="col-sm-5">
				<div class="panel panel-default" id="panel">
					<div class="panel-heading">
						<strong>{{comment.user.username}}</strong> <span class="text-muted">commented on {{comment.date}}</span>
					</div>

					<div class="panel-body">
						{{comment.detail}}
					</div>

					<div class="panel-editDelete" id="panel-editDelete">
						<form>
							<button class="edit btn btn-outline-light">edit</button>
							<button class="delete btn btn-outline-light">delete</button>
					</div>

				</div>
			</div>

		</div>
		{% endfor %}
	</div>


</div>



{% endblock %}