{% extends 'base.html' %}

{% block title %}
signUp
{% endblock %}


{% block content %}

<div class="signUpBack">
	<a href="{% url 'home'%}"> Back </a>
</div>

<div class="signUp">
		<h2> Sign Up </h2>
		<form method="post" action="{% url 'signup_handle'%}">

			{% csrf_token %}

			<div class="form-group">
		     <label for="email">Email</label>
		     <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
		 	</div>

			<div class="form-group">
			  <label for="username">username</label>
			  <input type="text" class="form-control" id="username"  placeholder="username" name="username" required>
			</div>

			<div class="form-group">
			  <label for="password">Password</label>
			  <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
			</div>

			<div class="form-group">
			  <label for="confirmPassword">Confirm Password</label>
			  <input type="password" class="form-control" id="confirmPassword" placeholder="confirm Password" name="confirmPassword" required>
			</div>

			<div class="g-recaptcha" data-sitekey="6Lfhd7sUAAAAAFf8GWU2jMnxXT7YNtglLjfYX64j"></div>
		  	
		  	{% if messages %}
			   {% for message in messages %}
				   <div class="alert alert-danger" role="alert" style='margin-bottom: 10px;margin-top:10px;'>{{ message }}</div>
			   {% endfor %}
			{% endif %}
						
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;">signUp</button>

			<div style="color: grey;">
				<small> already have an account? log in <a href="{% url 'home'%}">here</a></small>
			</div>


		</form>
</div>

{% endblock %}