{% extends 'base.html' %}

{% block title %}
User Profile
{% endblock %}


{% block content %}

<div class="row">

	<div class="left_content col-4">
		<ul>
			<li> <a href="{% url 'home'%}"> HomePage </a> </li>
			<li> <a href="{% url 'allContent_view'%}">All Content </a></li>
			<li> <a href="{% url 'addNewContent_view'%}"> Add New Content </a></li>
			<li> <a href="{% url 'userProfile_view'%}"> User Profile </a> </li>
			<li> 
				<div class="logout"> <form id="logout_form" action="{% url 'logout'%}"> <button class="btn btn-outline-primary" style="height: 25px;padding: 0;width:100px;">Logout </button></form>
				</div>
			</li>
		</ul>
	</div>

	<div class="userProfile col-md-8 col-6">
			<h2 style="text-align: center;">  User Profile </h2>

			{% load static %}

			{% if user.profile.profile_pict %}
				<img src="{{user.profile.profile_pict.url}}">
			{% else %}
				<img src="{% static 'defaultPeople.jpg' %}">
			{% endif %}

			<form method="post" action="{% url 'userProfile_update'%}" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="form-group">
			     <label for="email">Email</label>
			     <input type="email" class="form-control" id="email" placeholder="email" name="email" required autocomplete="off" value="{{user.email}}">
			 	</div>

				<div class="form-group">
				  <label for="username">username</label>
				  <input type="text" class="form-control" id="username"  placeholder="username" name="username" required autocomplete="off" value="{{user.username}}">
				</div>

				<div class="form-group">
				  <label for="image">Profile Picture</label>
				  <input type="file" class="form-control" id="image"  placeholder="image" name="image">
				</div>
			  	
			  	{% if messages %}
				   {% for message in messages %}
					   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
					   	<div class="alert alert-danger" role="alert" style='margin-bottom: 10px;'>{{ message }}</div> 
					   {% else %}
					    <div class="alert alert-success" role="alert" style='margin-bottom: 10px;'>{{ message }}</div> 
					   {% endif %}
				   {% endfor %}
				{% endif %}
							
				<button type="submit" class="btn btn-primary" style="margin-top: 10px;">Update Profile</button>

			</form>
	</div>

</div>

{% endblock %}